
services:
  web:
    build:
      context: .
    env_file:
      - ../.env
    restart: unless-stopped
    container_name: nestorc-web
    volumes:
      - .:/app:cached
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "14000:14000"
    command: gunicorn project.wsgi:application --bind 0.0.0.0:14000  

volumes:
  static_volume:
  media_volume:
